{% extends 'layout/base.html' %}

{% block title %}Phiếu khám bệnh{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
    <section>
        <div class="d-flex justify-content-center my-3"><h1>Chi tiết hoá đơn</h1></div>
        <div class="container mb-2">
            <table class="table d">
                <tbody>
                    <tr>
                      <td scope="row" class="col-2 no-br"><label for="name">Họ tên:</label></td>
                      <td class="col-4 no-bl"><input type="text" id="name" name="name" value="{{booking.name}}" disabled></td>
                      <td class="col-2 no-br"><label for="exam-date">Ngày khám:</label></td>
                      <td class="col-4 no-bl"><input type="date" id="exam-date" value="{{booking.ngaykham}}" name="exam-date" disabled></td>
                    </tr>
                    <tr>
                      <td scope="row" class="col-2 no-br"><label for="exam-fees">Tiền khám:</label></td>
                      <td class="col-4 no-bl"><input type="number" id="exam-fees" value="{{hoadon.tienkham}}" name="exam-fees" disabled></td>
                      <td class="col-2 no-br"><label for="drugs-fees">Tiền thuốc:</label></td>
                      <td class="col-4 no-bl"><input type="number" value="{{hoadon.tienthuoc}}" id="drugs-fees" name="drugs-fees" disabled></td>
                    </tr>
                    <tr>
                      <td scope="row" class="col-2 no-br"><label for="total">Tổng tiền:</label></td>
                      <td colspan="3" class="no-bl"><input type="number" id="total" name="total" value="{{hoadon.tongtien}}" disabled></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-hover c" id="table-doctor">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col" class="serial">STT</th>
                      <th scope="col" class="col-sm-2">Tên thuốc</th>
                      <th scope="col" class="col-sm-1">Miêu tả</th>
                      <th scope="col" class="col-sm-1">Đơn vị</th>
                      <th scope="col" class="col-sm-2">Giá tiền</th>
                      <th scope="col" class="col-sm-2">Số lượng</th>
                      <th scope="col" class="col-sm-2">Cách dùng</th>
                    </tr>
                    </thead>
                 <tbody>
                 {% for d in drugs %}
                    <tr id="row">
                        <td scope = "row" class="count"></td>
                        <td disabled>{{d[0]}}</td>
                        <td disabled>{{d[1]}}</td>
                        <td disabled>{{d[2]}}</td>
                        <td disabled>{{d[3]}}</td>
                        <td disabled>{{d[4]}}</td>
                        <td disabled>{{d[5]}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{url_for('user_history')}}" class="d-flex justify-content-center"><button class="button-75 button-75-custom w-25" role="button"><span class="text">Quay lại</span></button></a>
        </div>
    </section>
{% else %}
    <section>
          <br/> <br/>
          <div class="container">
              <div class="text-info text-center">
                  <h1>BẠN KHÔNG CÓ QUYỀN TRUY CẬP</h1>
              </div>
          </div>
          <br/> <br/>
      </section>
{% endif %}
{% endblock %}