{% extends 'layout/base.html' %}

{% block title %}Danh sách khám bệnh{% endblock %}

{% block content %}
{% if current_user.is_authenticated and current_user.user_role.name == 'NURSE' %}
    <section>
        <div class="container my-4">
            <div class="d-flex justify-content-center">
                <h1 class="text-uppercase" {% if flag==True %} hidden  {% endif %}>Xác nhận đăng ký</h1>
                <h1 class="text-uppercase" {% if flag!=True %} hidden  {% endif %}>Thanh toán hóa đơn</h1>
            </div>
        </div>
        <div class="container-fluid mb-5">
            <table class="table table-hover a">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">Họ tên</th>
                      <th scope="col">Giới tính</th>
                      <th scope="col">Năm sinh</th>
                      <th scope="col">Địa chỉ</th>
                      <th scope="col">SDT</th>
                      <th scope="col">Ngày khám</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in booking_list %}
                    <tr>
                      <th scope="row" class="count"></th>
                      <td>{{ booking.name }}</td>
                      <td>{{ booking.sex.name }}</td>
                      <td>{{ booking.yearofbirth.strftime('%d-%m-%Y') }}</td>
                      <td>{{ booking.address }}</td>
                      <td>{{ booking.phonenumber}}</td>
                      <td>{{ booking.ngaykham.strftime('%d-%m-%Y') }}</td>
                      <td {% if flag!=True or booking.tested !=True %} hidden  {% endif %}><a href="{{url_for('thanh_toan', booking_id=booking.id) }}"><input type="button" id="pay" value="Thanh toán" class="button-75"></a></td>
                      <td {% if flag==True %} hidden  {% endif %}><a href="{{url_for('accept_booking', booking_id=booking.id) }}"><input type="button" id="active" onclick="confirmForm(event)" value="Xác nhận" class="button-75"></a></td>
                      <td {% if flag==True %} hidden  {% endif %}><a href="{{url_for('reject_booking', booking_id=booking.id) }}"><input type="button" id="reject" onclick="confirmForm(event)" value="Xóa" class="button-75"></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% else %}
    <section>
          <br/> <br/>
          <div class="container">
              <div class="text-info text-center">
                  <h1>BẠN KHÔNG CÓ QUYỀN TRUY CẬP</h1>
              </div>
          </div>
          <br/> <br/>
      </section>
{% endif %}
{% endblock %}